.benefit {
  text-align: center;
  @include phones {
    display: flex;
    text-align: left;
  }
  &__image {
    margin-bottom: 0.56rem;
    @include tablets {
      margin-bottom: rem(17px);
    }
    @include phones {
      margin-right: rem(28px);
      margin-bottom: 0;
    }
  }
  &__image-wrapper {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
  }
  &__pic {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $black;
    margin-bottom: 1rem;
    @include tablets {
      margin-bottom: rem(7px);
    }
  }
  &__text {
    font-weight: 300;
    line-height: 1.2;
    @include phones {
      padding-right: 10px;
    }
  }
}
