.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  @include tablets {
    display: inline-flex;
  }
  &__plank {
    display: block;
    background: $white;
    height: 4px;
    border-radius: 10px;
  }
}
.hamburger-menu {
  display: none;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #333537;
  z-index: $z-hamburger-menu;
  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 24px;
    width: 24px;
  }
  &__close-pic {
    width: 100%;
    height: 100%;
    fill: $white;
  }
}
.hamburger-menu.active {
  display: flex;
}
